[build]
builder = "NIXPACKS"

[deploy]
startCommand = "java -jar api/build/libs/api.jar"
healthcheckPath = "/actuator/health"
healthcheckTimeout = 300
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10