# Development Server Profile
spring:
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}

  jpa:
    show-sql: false

logging:
  level:
    com.paytools: DEBUG
    org.springframework.security: INFO

python:
  proxy:
    base-url: ${PYTHON_API_URL}